<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.cis.module.drgsgroup.dao.TbDisgroupMapper">
    <resultMap id="tbDisgroupResult" type="cn.com.cis.module.drgsgroup.entity.TbDisgroup">
        <result property="icdCode" column="ICD_CODE" />
        <result property="oprgroupCode" column="OPRGROUP_CODE" />
    </resultMap>

	<select id="selectAllTbDisgroups" resultMap="tbDisgroupResult">
		SELECT
			ICD_CODE,
			OPRGROUP_CODE
		FROM TB_DISGROUP
	</select>
</mapper>